[
  {dasherl, [
    % bind is a string that defines the bind ip address and port to run gunicorn
    {bind, "127.0.0.1:8000"},

    % workers is a non neg integer that defines the number of workers used for gunicorn
    {workers, 3},

    % routes is the pathname (url) and the py file handling that request
    % commonly the file handling the request has a callback and MUST implement
    % the app import for dasherl main py file
    {routes, [
        {'/apps/app1', app1},
        {'/apps/app2', app2}
    ]}
  ]}
].
